body {
    background-color: white;
    
}

ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;   
    text-transform: uppercase;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #dedede;
    width: 70%;
    margin: 50px auto;
    padding: 15px 0 15px 0;
    color: black;
}

li {
    display: inline;
    margin: 0 25px 0 25px;
}

a {
    text-decoration: none;
    color: black; 
}

a:hover {
    color: #777;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    background: url(http://mateuszostaszewski.pl/img/photo.jpg) no-repeat;
    margin: 0 auto;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.photo:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

#about {
    
    background: url("img/bg.png");
    background-color: #fbfbfb;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #222222;
    padding-top: 35px;
    
    
}

.description {
    text-align: center;
    font-size: 15px;
    color: #f16863;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    
}

.quote {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
    width:50%;
    margin: 0 auto;
}


span {
    border-bottom: 3px dotted #d1d1d1;
width: 100px;
display: block;

margin: 0 auto;
}
